---
layout: default
---

<div class="posts">
  {% for post in site.posts %}
    <article class="post">

      <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>

      {% include post-info.html post=post %}

      {% include post-tags.html tags=post.tags %}

      <div class="entry" style="margin-top: 20px;">
        {{ post.excerpt | replace: "href=","" | replace: "<a","<span" | replace: "</a","</span" }}
      </div>

      <a href="{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}
</div>