---
layout: default
---

<article class="post">
  
  <a href="/">&lt;&lt; Back</a>

  <div style="margin: 10px 0 0 0;">
    {% for tag in page.tags %}
      <span class="tag">{{tag}}</span>
    {% endfor %}
  </div>

  <h1>{{ page.title }}</h1>

  <div style="display: flex; flex-direction: row; align-items: center;">
      <img style="width: 40px; height: 40px; border-radius: 50%;" src="{{site.authors[page.author].avatar}}" />
      <span style="margin: 0 10px;">{{site.authors[page.author].name}}</span>
      &middot;
      <span style="margin: 0 10px;">{{ page.date | date: "%B %e, %Y" }}</span>
      {% capture read_time %}
        {{ page.content | number_of_words | divided_by: 180 }}
      {% endcapture %}
      &middot;
      <span style="margin: 0 10px;">{{ read_time }} min read</span>
  </div>

  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>
  <div style="margin: 10px 0;">
    {% for tag in page.tags %}
      <span class="tag">{{tag}}</span>
    {% endfor %}
  </div>
  {% include post-about.html %}

  {% include disqus.html %}
</article>
